<html lang="ja" ng-app="necommend">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detail</title>
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="{{STATIC_URL}}js/Rtoaster.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.0/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.0/angular-animate.min.js"></script>
    <script type="text/javascript">
      Rtoaster.init("RTA-4854-6885b731a7de");
      Rtoaster.track();
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="{{STATIC_URL}}js/necommend.js"></script>
      <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
      <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
      <link rel="stylesheet" href="{{STATIC_URL}}Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
    </head>
    <body>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      {% if neco_list %}
      <div class="container" ng-controller="necommendController as necommend">
        <h1> 
          <div class="center">
            <img id="title_img" src="{{STATIC_URL}}img/title.png"/>
          </div>
        </h1>
        <div class="row" data-toggle="modal-gallery" data-target="#modal-gallery">
          <button ng-click="necommend.test()">test</button>
          <button class="testbutton">test2</button>
          <ul class="thumbnails">
            {% verbatim %}
            <li ng-repeat="neco in necommend.necolist">
              <div class="thumbnail">
                <a href="/necommend/{{neco.id}}">
                  <img class="thum_img" src="static/img/{{neco.img}}" alt="neco">
                </a>
              </div>
            </li>
            {% endverbatim %}
            <!-- {% for neco in neco_list %} -->
            <!-- <li class="col&#45;sm&#45;3 ad " ng&#45;if="necommend.insertAd(0)"> -->
            <!--   <div id="cat_banner1" class="thumbnail"></div> -->
            <!-- </li> -->
            <!-- <li class="col&#45;sm&#45;3 ad " ng&#45;if="necommend.insertAd(1)"> -->
            <!--   <div id="cat_banner2" class="thumbnail"></div> -->
            <!-- </li> -->
            <!-- <li class="col&#45;sm&#45;3 ad " ng&#45;if="necommend.insertAd(2)"> -->
            <!--   <div id="cat_banner3" class="thumbnail"></div> -->
            <!-- </li> -->
            <!-- <li class="col&#45;sm&#45;3 ad " ng&#45;if="true"> -->
            <!--   <!&#45;&#45; <div id="cat_banner3" class="thumbnail"></div> &#45;&#45;> -->
            <!-- </li> -->
            <!-- <li class="col&#45;sm&#45;3"> -->
            <!--   <div class="thumbnail"> -->
            <!--     <!&#45;&#45; <a href ="/necommend/{{ neco.id }}/"> &#45;&#45;> -->
            <!--     <!&#45;&#45;   <img class="thum_img" src="{{STATIC_URL}}img/{{ neco.img }}"/> &#45;&#45;> -->
            <!--     <a href ="{{STATIC_URL}}img/{{neco.img}}" ng&#45;click="necommend.tellNecosUrl({{ neco.id }})" data&#45;gallery="gallery"> -->
            <!--           <img class="thum_img" src="{{STATIC_URL}}img/{{ neco.img }}"/> -->
            <!--     </a> -->
            <!--   </div> -->
            <!-- </li> -->
            <!-- {% endfor %} -->
          </ul>
          <!-- </div> -->
        </div>
        <ul class="pagination">
          <li><a href="">&laquo;</a></li>
          <li><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">&raquo;</a></li>
        </ul>
      </div>
        {% else %}
        <p>No cats are here.</p>
        {% endif %}

        <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery">
          <!-- The container for the modal slides -->
          <div class="slides"></div>
          <!-- Controls for the borderless lightbox -->
          <h3 class="title"></h3>
          <a class="prev">‹</a>
          <a class="next">›</a>
          <a class="close">×</a>
          <a class="play-pause"></a>
          <ol class="indicator"></ol>
          <!-- The modal dialog, which will be used to wrap the lightbox content -->
          <div class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-necomend">
                  <div class="row">
                    この猫を見た人はこんな猫も見ています。
                    <div id="item_auto">
                      <div id="item_auto_1" class="col-sm-2"></div>
                      <div id="item_auto_2" class="col-sm-2"></div>
                      <div id="item_auto_3" class="col-sm-2"></div>
                      <div id="item_auto_4" class="col-sm-2"></div>
                      <div id="item_auto_5" class="col-sm-2"></div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left prev">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Previous
                  </button>
                  <button type="button" class="btn btn-primary next">
                    Next
                    <i class="glyphicon glyphicon-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          Rtoaster.recommendNow("cat_banner1", "cat_banner2", "cat_banner3", "item_auto");
          </script>
          <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
          <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
          <script src="{{STATIC_URL}}Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>
        </body>
      </html>
