@charset "utf-8";

/*============================================
 * 全般的なスタイル
 * ============================================*/
* {
  margin:0; padding:0;  /*全要素のマージン・パディングをリセット*/
  line-height:1.5;  /*全要素の行の高さを1.5倍にする*/
  color:#333333;    /*文字色*/

} 
body {
  /* background-color:#999999; */
  /* background-image:url("/img/pink_stripe.jpg") */
  text-align:center;    /*IE6以下でセンタリングするための対策*/
}


img.detail_img {
  width: 400px;
  height: 400px;
}

img.recommended_cat {
  width: 200px;
  height:200px;
}
#item_auto div {
  float left;
}
#item_autohistory {
  float none;
}

#item_auto_history div {
  float left;
}
